# Virtual environments
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.spec

# Executables
*.exe

# SQLite DB
bancodados_alunos.db
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Logs
*.log

# local python compiled files
localpycs/
